# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/

# Environnement
.env
*.env

# Data locale
data/
qdrant_storage/

# Conda
envs/

# IDE
.idea/
.vscode/
*.swp

# Logs
*.log

# Cache
.pytest_cache/
.mypy_cache/

# OS
.DS_Store
Thumbs.db
